<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotaru.mapper.CommentMapper">

    <select id="PageQuery" resultType="com.hotaru.vo.user.CommentVO">
        select
                oc.order_id as orderId,
                o.order_no as orderNo,
               oc.score as orderScore,
               oc.content as orderContent,
               oc.create_time as createTime
        from order_comment oc
            left join orders o on oc.order_id = o.id
        where o.user_id = #{userId}
    </select>

</mapper>