<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotaru.mapper.DispatchMapper">

    <insert id="insert">
        insert into mover_order_dispatch
        (order_id, mover_id, dispatch_status, dispatch_time, response_time, create_time, update_time)
        VALUES
        (#{orderId}, #{moverId}, #{dispatchStatus}, #{dispatchTime}, #{responseTime}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update mover_order_dispatch
        set dispatch_status = #{dispatchStatus},
            dispatch_time = #{dispatchTime},
            response_time = #{responseTime},
            update_time = #{updateTime}
        where order_id = #{orderId}
    </update>

    <select id="countWaitingByOrderId" resultType="java.lang.Integer">
        select count(*) from mover_order_dispatch
        where order_id = #{orderId}
        and dispatch_status = 0
    </select>

    <select id="getCountsByMoverId" resultType="java.lang.Integer">
        select count(*) from mover_order_dispatch
        where mover_id = #{moverId}
        and dispatch_status = 0
    </select>

</mapper>