<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotaru.mapper.MoverMapper">

    <select id="pageQuery" resultType="com.hotaru.entity.Mover">
        select * from mover
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <update id="update">
        update mover
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="avatar != null and avatar !=''">
                avatar = #{avatar},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="rating != null">
                rating = #{rating},
            </if>
            <if test="orderCount != null">
                order_count = #{orderCount},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findMover" resultType="com.hotaru.entity.Mover">
        select *
        from mover
        where status = #{status}
        order by rating desc,
                 order_count
        limit 1
    </select>

    <select id="findMovers" resultType="com.hotaru.entity.Mover">
        SELECT * FROM mover
        WHERE status = 1 -- 只找空闲的
        ORDER BY rating DESC, order_count DESC
        LIMIT 10; -- 返回前10名最优选
    </select>

    <update id="updateRating">
        update mover
        set rating = #{newRating},
            order_count = #{orderCount}
        where id = #{moverId}
    </update>

    <insert id="insert">
        insert into mover
        (name, phone, avatar, status, rating, order_count, create_time)
        VALUES
        (#{name}, #{phone}, #{avatar}, #{status}, #{rating}, #{orderCount}, #{createTime})
    </insert>

    <update id="updateStatus">
        update mover
        set status = #{status}
        where id = #{moverId}
    </update>

</mapper>