<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotaru.mapper.OrderMapper">

    <select id="getDetailsById" resultType="com.hotaru.vo.admin.OrderVO">
        SELECT
            o.*,
            m.name AS moverName,

            CONCAT(
                    IFNULL(s.province, ''),
                    IF(s.province = s.city, '', IFNULL(s.city, '')),
                    IFNULL(s.district, ''),
                    IFNULL(s.detail_address, ''),
                    IF(s.floor IS NOT NULL, CONCAT(s.floor, '层'), '')
            ) AS startAddressName,

            CONCAT(
                    IFNULL(e.province, ''),
                    IF(e.province = e.city, '', IFNULL(e.city, '')),
                    IFNULL(e.district, ''),
                    IFNULL(e.detail_address, ''),
                    IF(e.floor IS NOT NULL, CONCAT(e.floor, '层'), '')
            ) AS endAddressName
        FROM orders o
                 LEFT JOIN user_address s ON o.start_address_id = s.id
                 LEFT JOIN user_address e ON o.end_address_id = e.id
                 LEFT JOIN mover m ON o.mover_id = m.id
        WHERE o.id = #{id}
    </select>

    <select id="getById" resultType="com.hotaru.entity.Order">
        select * from orders
        where id = #{id}
    </select>

    <select id="pageQuery" resultType="com.hotaru.entity.Order">
        select * from orders
        <where>
            <if test="orderNo != null and orderNo != ''">
                and order_no like concat('%', #{orderNo}, '%')
            </if>
            <if test="moveType != null">
                and move_type = #{moveType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <update id="update">
        update orders
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="moverId != null">
                mover_id = #{moverId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>


    <insert id="createOrder" useGeneratedKeys="true" keyProperty="id">
        insert into orders
            (order_no,
             user_id,
             mover_id,
             move_type,
             start_address_id,
             end_address_id,
             appointment_time,
             total_amount,
             status,
             create_time,
             update_time,
             is_commented)
        VALUES
            (#{orderNo},
             #{userId},
             #{moverId},
             #{moveType},
             #{startAddressId},
             #{endAddressId},
             #{appointmentTime},
             #{totalAmount},
             #{status},
             #{createTime},
             #{updateTime},
             #{isCommented})
    </insert>

    <select id="selectTimeoutIds" resultType="java.lang.Long">
        select * from orders
        where
            status = #{status}
        and
            create_time &lt;= #{limitTime}
    </select>

    <update id="batchCancel">
        update orders
        set status = #{status},
            update_time = now()
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="userPageQuery" resultType="com.hotaru.entity.Order">
        select * from orders
        <where>
            AND user_id = #{userId}
            <choose>
                <when test="tabType == 1">
                    and status in (0,1,2,3,4,5)
                </when>
                <when test="tabType == 2">
                    and status in (2,3)
                </when>
                <when test="tabType == 3">
                    and status = 4
                </when>
            </choose>
            <if test="orderNo != null and orderNo != ''">
                and order_no like concat('%', #{orderNo}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getDetailWithRelations" resultType="com.hotaru.vo.user.UserOrderDetailVO">
        SELECT
            o.order_no, o.appointment_time, o.move_type, o.status, o.total_amount, o.create_time, o.update_time,
            o.start_address_id, o.end_address_id,o.is_commented,
            m.name AS mover_name, m.phone AS mover_phone
        FROM orders o
                 LEFT JOIN mover m ON o.mover_id = m.id
        WHERE o.id = #{orderId} AND o.user_id = #{userId}
    </select>

    <select id="getMoverInfoByOrderId" resultType="com.hotaru.entity.Mover">
        select m.id,
               m.name,
               m.phone,
               m.avatar,
               m.status,
               m.rating,
               m.order_count,
               m.create_time,
               m.update_time
        from orders AS o
                 left join mover AS m
                           on o.mover_id = m.id
        where o.id = #{orderId}
    </select>

    <update id="markCommented">
        update orders
        set is_commented = 1
        where id = #{orderId}
    </update>

    <select id="getOrderCountById" resultType="java.util.Map">
        SELECT
            IFNULL(COUNT(CASE WHEN status IN (1, 2) THEN 1 END), 0) AS toBeServed,
            IFNULL(COUNT(CASE WHEN status IN (4, 5) THEN 1 END), 0) AS completed
        FROM orders
        WHERE user_id = #{userId}
    </select>

    <select id="moverOrderPageQuery" resultType="com.hotaru.entity.Order">
        SELECT o.*
        FROM orders o
                 JOIN mover_order_dispatch d ON d.order_id = o.id
        WHERE d.mover_id = #{moverId}
          AND d.dispatch_status = 0
        ORDER BY o.create_time DESC
    </select>

    <select id="ongoingPageQuery" resultType="com.hotaru.entity.Order">
        select * from orders
        where mover_id = #{moverId}
          and status = 3
        order by create_time desc
    </select>

    <select id="completedPageQuery" resultType="com.hotaru.entity.Order">
        select * from orders
        where mover_id = #{moverId}
          and status = 4
        order by create_time desc
    </select>

</mapper>