<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotaru.mapper.ServiceItemMapper">

    <select id="pageQuery" resultType="com.hotaru.entity.ServiceItem">
        select * from service_item
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <update id="update">
        update service_item
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
            <if test="price != null and price != ''">
                price = #{price},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from service_item
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listByIds" resultType="com.hotaru.entity.ServiceItem">
        select id, name, price from service_item
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="userServiceItemPageQuery" resultType="com.hotaru.entity.ServiceItem">
        select * from service_item
        <where>
            <if test="serviceItemName != null and serviceItemName != ''">
                and name like concat('%',#{serviceItemName},'%')
            </if>
        </where>
    </select>

</mapper>