<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotaru.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        Insert into user
            (open_id, phone, nickname, role, avatar, status, create_time, update_time)
            VALUES
            (#{openId}, #{phone}, #{nickname}, #{role}, #{avatar}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>